 <div class="index-outer">
     <div class="index-inner">
         <div class="index-title">
             Wiki
         </div>
         <div class="book-style">
            <% Object.keys(theme.book).forEach(key => { %>
        <a href="<%=url_for(theme.book[key])%>">
            <div class="book">
                <%=key%>
            </div>
        </a>
            <% }); %>
         </div>

     </div>

</div>